:root {
    --color-primary: #396c03;
    --color-secondary: #ff8b00;
    --color-paragraph: #676767;
    --color-black: #3f3f3f;
    --color-disable-button:#c7c7c7;
    --color-low-highlight: #9f9f9f;
}

.color{
    color: var(--color-secondary);
}