.asked-section {
  padding-top: 78px;
  padding-bottom: 105px;

  &__container {
    @include center;
    flex-direction: column;
    width: 100vw;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__block {
    width: 90vw;
    @include center;
    flex-direction: column;
    gap: 12px;
  }

  &__title {
    display: flex;
    justify-content: center;
    @include text(40px, 600, 1.6);
    color: var(--color-black);
    margin-bottom: 30px;
  }

  &__buttons {
    @include center;
    flex-direction: row;
    gap: 18px;
    margin-bottom: 36px;
    margin-left: 46px;

    &-general {
      @include text(22px, 500, 1.7);
      @include size(208px, 67px);
      border-radius: 224px;
      cursor: pointer;

      &:hover {
        background-color: transparent;
        border: 1px solid var(--color-primary);
        color: var(--color-primary);
        transition: 0.3s ease;
      }
    }

    &-business {
      @include text(22px, 500, 1.7);
      @include size(258px, 67px);
      border-radius: 224px;
      cursor: pointer;

      &:hover {
        background-color: transparent;
        border: 1px solid var(--color-primary);
        color: var(--color-primary);
        transition: 0.3s ease;
      }
    }
  }

  &__questions {
    width: 90%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 28px;
    cursor: pointer;
  }

  &__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    @include text(18px, 500, 2);
    color: #000;
    padding-right: 15px;
    list-style: none;

    &-minus {
      display: none;
    }
  }

  &__details {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    height: 82px;
    align-content: center;
    font-family: 'Poppins', sans-serif;
    @include text(18px, 400, 1.6);
    color: #000;
    text-align: left;
    padding-left: 15px;
  }
}

details[open] {
  padding: 30px 15px;
  height: auto;

  .asked-section__question-plus {
    display: none;
  }

  .asked-section__question-minus {
    display: flex;
    padding: 0;
  }
}

details[open] summary {
  border: none;
  padding-right: 0;
  padding-bottom: 20px;
}

@media (max-width: 876px) {
  .asked-section {
    @include center;
    padding-top: 64px;
    padding-bottom: 65px;

    &__block {
      flex-direction: column;
    }

    &__title {
      @include text(30px, 500, 1.6);
      width: 50%;
      text-align: center;
      margin: 0;
    }

    &__buttons {
      @include text(12px, 400, 1.7);
      margin-left: 0;
      gap: 12px;

      &-general {
        @include size(144px, 57px);
      }

      &-business {
        @include size(144px, 57px);
      }
    }

    &__questions {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 90vw;
      margin: auto;
    }

    &__question {
      @include text(16px, 500, 2);
    }

    &__details {
      height: auto;
    }
  }

  details[open] {
    padding: 15px 15px;
  }
}
