.assets-section {
  @include center;

  &__block {
    width: 100%;
    @include center;
    flex-direction: row;
    gap: 62px;
    padding-top: 168px;
    padding-bottom: 55px;
  }

  &__items {
    @include center;
    flex-direction: column;
    gap: 12px;
    width: calc(33.3% - 20px);
   height: 365px;

    &:hover {
      background-color: rgba(57, 108, 3, 0.05);
      border-radius: 15px;
    }

    &-title {
      max-width: 293px;
      @include text(30px, 600, 1.4);
      color: var(--color-black);
    }

    &-text {
      max-width: 286px;
      @include text(18px, 400, 1.6);
    }

    &-img {
      align-self: flex-start;
      margin-left: 36px;
    }
  }
}

@media (max-width: 1375px) {
  .assets-section {
    @include center;

    &__block {
      gap: 10px;
    }

    &__items {
      width: calc(33.3% - 20px);

      &-title {
        @include text(24px, 600, 1.4);
        text-align: center;
      }

      &-text {
        @include text(18px, 500, 1.4);
        text-align: center;
      }

      &-img {
        align-self: center;
        margin: 0;
      }
    }

  }
}


@media (max-width: 876px) {
  .assets-section {
    padding-bottom: 40px;

    &__block {
      @include center;
      flex-direction: column;
      gap: 20px;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    &__items {
      width: 90vw;
     
      &-title {
        @include text(24px, 600, 1.4);
        text-align: center;
      }

      &-text {
        text-align: center;
      }

      &-img {
        align-self: center;
        margin: 0;
      }

    }
  }
}