.header {
  width: 100vw;
  @include center;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgb(63, 63, 63, 0.2);
  padding-bottom: 20px;
  margin: 0 auto;
  z-index: 2;

  &__block {
    width: 100%;
    @include center;
    flex-direction: row;
  }

  &__nav {
    @include center;
    max-width: 1240px;
    padding-top: 20px;

    &-logo {
      display: flex;
      @include size(150px, 50px);
      margin-right: 316px;
      flex-grow: 1;
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    gap: 70px;
    @include text(18px, 500, 2);
    color: var(--color-black);
    margin-right: 94px;
    cursor: pointer;

    &-list {
      font-family: 'Poppins', sans-serif;
      @include text(18px, 500, 2);
      color: var(--color-black);
      border: none;
      background-color: transparent;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-grow: 1;
    margin-right: 10px;

    &-login {
      @include size(154px, 58px);
      border-radius: 225px;
      cursor: pointer;

      &:hover {
        background-color: var(--color-secondary);
        transition: 0.3s ease;
      }
    }

    &-cart {
      @include center;
      @include size(60px, 60px);
      border-radius: 100%;
      cursor: pointer;

      &:hover {
        background-color: var(--color-secondary);
      }
    }
  }
}

@media (max-width: 1375px) {
  .header {
    &__block {
      @include center;
      margin: auto;
    }

    &__nav {
      width: 100%;

      &-logo {
        margin-right: 30%;
      }
    }

    &__menu {
      flex-grow: 2;
      gap: 40px;
    }
  }
}

@media (max-width: 876px) {
  .header {
    &__nav {
      @include center;
      flex-direction: column;
      margin: 0 auto;

      &-logo {
        display: flex;
        margin: auto;
      }
    }

    &__menu {
      gap: 20px;
      margin: auto;
    }

    &__buttons {
      display: none;
    }
  }
}
