.hero-section {
  @include center;
  background-color: rgb(107, 145, 66, 0.1);

  &__container {
    width: 100%;
    @include center;
    flex-direction: row;
    position: relative;
    padding-top: 194px;
    padding-bottom: 56px;

    &::before {
      display: flex;
      position: absolute;
      @include size(288px, 288px);
      background-image: url('../images/leaf1.png');
      background-repeat: no-repeat;
      content: '';
      left: -12%;
      top: 0;
    }

    &::after {
      display: flex;
      position: absolute;
      @include size(288px, 288px);
      background-image: url('../images/leaf2.png');
      background-repeat: no-repeat;
      content: '';
      top: 108px;
      right: -12%;
      z-index: -2;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    max-width: 714px;
    gap: 24px;
    padding-top: 26px;
    margin-left: 70px;
  }

  &__title {
    font-family: 'Merienda', sans-serif;
    @include text(65px, 700, 1.3);
    color: var(--color-primary);
    max-width: 682px;
  }

  &__text {
    @include text(24px, 600, 1.4);
    color: var(--color-paragraph);
    text-align: left;
  }

  &__search {
    display: flex;
    flex-direction: row;
    align-items: center;

    &-input {
      position: relative;
      @include size(714px, 66px);
      border: 2px solid rgb(57, 108, 3, 0.3);
      border-radius: 120px;
      background: rgba(255, 255, 255, 0.3);
      @include text(22px, 500, 1.7);
      color: var(--color-disable-button);
      padding-left: 70px;
    }

    &-icon {
      @include center;
      position: absolute;
      @include size(49px, 49px);
      transform: translateX(10px);
      z-index: 1;
      pointer-events: none;
    }

    &-btn {
      @include center;
      position: absolute;
      font-family: 'Poppins', sans-serif;
      @include size(210px, 69px);
      gap: 8px;
      border-radius: 100px;
      transform: translateX(510px);
      cursor: pointer;

      &:hover {
        background-color: var(--color-secondary);
        transition: 0.3s ease;
      }
    }
  }

  &__delivery {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    &-block {
      @include center;
      position: absolute;
      flex-direction: column;
      @include size(245px, 118px);
      backdrop-filter: blur(12px);
      background: linear-gradient(
        180deg,
        #fff 0%,
        rgba(255, 255, 255, 0.4) 30%
      );
      border-radius: 9px;
      top: 152px;
      right: 150px;
    }

    &-title {
      @include center;
      @include text(40px, 700, 1.3);
      color: var(--color-secondary);
    }

    &-icon {
      fill: var(--color-secondary);
      margin-right: 13px;
    }

    &-text {
      @include text(21px, 600, 1.3);
      color: #838383;
      text-align: center;
    }
  }

  &__img {
    z-index: -1;
    padding-top: 24px;
    animation: spin 2s linear forwards;

    @keyframes spin {
      from {
        transform: rotate(300deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}

@media (max-width: 1375px) {
  .hero-section {
    &__container {
      @include center;
      width: 100%;
    }

    &__block {
      width: 50%;
    }

    &__img {
      width: 100%;
    }
  }
}

@media (max-width: 876px) {
  .hero-section {
    &__container {
      @include center;
      width: 80vw;
      padding-top: 120px;

      &::before {
        opacity: 0.4;
        left: 0;
        top: 0;
      }

      &::after {
        display: none;
      }
    }

    &__block {
      @include center;
      margin: auto;
    }

    &__title {
      @include text(40px, 700, 1.3);
      text-align: center;
    }

    &__text {
      @include text(20px, 600, 1.4);
      text-align: center;
    }

    &__search {
      @include center;
      position: relative;
      width: 80vw;

      &-icon {
        position: absolute;
        left: 0;
      }

      &-input {
        height: 56px;
      }

      &-btn {
        display: none;
      }
    }

    &__delivery {
      display: none;
    }
  }
}

@media (max-width: 440px) {
  .hero-section {
    &__search {
      display: none;
    }
  }
}
